<div class="c_modal_t">
    <div class="logo">
    </div>
    <div class="demo">
        <img src="assets/discount.png" alt="Discount">
    </div>

    <br>
    <div class="c_title">Get your offer <br><span style="color: #3498db">for free!</span></div>
    
    <br>
    <br>
    <div class="ta-center button_bottom" style="left: 0; right: 0">
        <button class="btn btn-great" style="font-size: 15px !important" type="submit">Get this offer</button>
    </div>
</div>

<style>
    .c_modal_t {
        padding: 20px 20px;
        height: 100%;
    }
    .demo {
        text-align: center;
    }
    .demo img {
        max-width: 300px;
        margin: 0 auto;
    }
    .c_title {
        text-align: center;
        font-size: 32px;
        line-height: 30px;
    }
</style>