<div class="modal_template_wrapper">
    <div class="title">Let's Stay in Touch</div>
    <div class="description">Join our newsletter for exclusive access to special deals, early releases & early access content.</div>
    
    <div class="input-wrapper">
        <input type="text" />
        <button class="btn btn-standard" type="submit">Submit</button>
    </div>
</div>

<style>
    .modal_template_wrapper {
        background-color: #ffffff;
        height: 100%;
        padding: 25px 25px;
    }
    .title {
        font-size: 24px;
        color: #2c3e50;
    }
    .description {
        margin-top: 35px;
        font-size: 15px;
        line-height: 16px;
        color: #2c3e50;
    }
    .input-wrapper {
        margin-top: 25px;
    }
    input[type="text"] {
        width: calc(100% - 90px);
    }
</style>