.modal-overlay {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  opacity: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: 1ms opacity ease;
  -moz-transition: 1ms opacity ease;
  -ms-transition: 1ms opacity ease;
  -o-transition: 1ms opacity ease;
  transition: 1ms opacity ease;
  background: rgba(0, 0, 0, 0.75);

  &.modal-open {
    opacity: 1
  }

  &.fade-and-drop {
    display: block;
    opacity: 0;
    -webkit-transition: 500ms opacity 500ms ease;
    -moz-transition: 500ms opacity 500ms ease;
    -ms-transition: 500ms opacity 500ms ease;
    -o-transition: 500ms opacity 500ms ease;
    transition: 500ms opacity 500ms ease;

    &.modal-open {
      top: 0;
      -webkit-transition: 500ms opacity ease;
      -moz-transition: 500ms opacity ease;
      -ms-transition: 500ms opacity ease;
      -o-transition: 500ms opacity ease;
      transition: 500ms opacity ease;
      opacity: 1
    }
  }

}

.modal {
  border-radius: 5px;
  overflow: hidden;
  position: fixed;
  z-index: 9999;
  top: 50%;
  left: 50%;
  opacity: 0;
  width: 94%;
  -webkit-transition: 1ms opacity ease;
  -moz-transition: 1ms opacity ease;
  -ms-transition: 1ms opacity ease;
  -o-transition: 1ms opacity ease;
  transition: 1ms opacity ease;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background: #fff;
  height: 100%;

  &.modal-open {
    opacity: 1;

    &.modal-anchored {
      top: 20px;
      -webkit-transform: translate(-50%, 0);
      -moz-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
      -o-transform: translate(-50%, 0);
      transform: translate(-50%, 0)
    }
  }

  &.fade-and-drop {
    top: -300%;
    opacity: 1;
    display: block;
    -webkit-transition: 500ms top ease;
    -moz-transition: 500ms top ease;
    -ms-transition: 500ms top ease;
    -o-transition: 500ms top ease;
    transition: 500ms top ease;

    &.modal-open {
      top: 50%;
      -webkit-transition: 500ms top 500ms ease;
      -moz-transition: 500ms top 500ms ease;
      -ms-transition: 500ms top 500ms ease;
      -o-transition: 500ms top 500ms ease;
      transition: 500ms top 500ms ease;

      &.modal-anchored {
        -webkit-transition: 500ms top 500ms ease;
        -moz-transition: 500ms top 500ms ease;
        -ms-transition: 500ms top 500ms ease;
        -o-transition: 500ms top 500ms ease;
        transition: 500ms top 500ms ease;
      }
    }
  }
}

svg.modal-close {
  width: 16px;
  height: 16px;
  z-index: 2;
  position: absolute;
  right: 7px;
  top: 7px;
}

.modal-content {
  height: 100%;

  * {
    box-sizing: border-box;
  }
}